---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import SearchBar from "@/components/SearchBar.astro";
import { getSortedPosts } from "@/utils";
import { SITE } from "@/config";
import { t } from "@/config/i18n";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => (import.meta.env.DEV || !data.draft) && data.lang === "en");
  return paginate(getSortedPosts(posts), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const locale = "en";
---

<Layout title={`${t(locale, "posts")} | ${SITE.title}`}>
  <Header />
  <Main pageTitle={t(locale, "posts")} pageDesc={t(locale, "allArticles")} {locale}>
    <SearchBar {locale} />
    <ul>
      {page.data.map(data => <Card variant="h2" {...data} />)}
    </ul>
  </Main>

  <Pagination page={page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
