@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
    scroll-behavior: smooth;
}

:root,
html[data-theme="light"] {
    /*COLORS*/
    --black: #323330;
    --white: #f2f2f2;
    --blue: #2B65EC;
    --purple: #571B7E;
    --green: #44853e;
    --yellow: #F7E018;

    --background: var(--white);
    --foreground: var(--black);
    --muted: #e6e6e6;
    --border: var(--blue);
    --accent: var(--green);
    --accent-alt: var(--yellow);
    --link-color: var(--blue);
    --text-color: #292929;
    --text-color-alt: #F7F7F7;
    --transition-speed-fast: 0.3s;
    --transition-speed-regular: 0.6s;
    --transition-speed-slow: 1s;
    --z-index-0: 100;
    --z-index-1: 200;
    --z-index-2: 300;
    --z-index-3: 400;
    --z-index-4: 500;
    --z-index-5: 600;
    --z-index-6: 700;
}

html[data-theme="dark"] {
    --background: var(--black);
    --foreground: var(--white);
    --accent: var(--yellow);
    --accent-alt: var(--green);
    --muted: #343f60bf;
    --border: var(--green);
    --link-color: var(--yellow);
    --text-color: #F7F7F7;
    --text-color-alt: #292929;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-muted: var(--muted);
    --color-border: var(--border);
}

@layer base {
    * {
        @apply border-border outline-accent/75;
        scrollbar-width: auto;
        scrollbar-color: var(--color-muted) transparent;
    }

    html {
        @apply overflow-y-scroll scroll-smooth;
    }

    body {
        @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
    }

    a,
    button {
        @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    section,
    footer {
        @apply mx-auto max-w-3xl px-4;
    }

    header {
        .isotype {
            border: none;
            color: var(--accent);
            font-size: var(--font-size-3);
            font-weight: 600;
            letter-spacing: 1px;
            /*-webkit-text-stroke-width: 1.5px;*/
            /*-webkit-text-stroke-color: var(--link-color);*/
            text-decoration: none;
        }
    }
}

.active-nav {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
}
