p {
  color: inherit;
  text-align: justify;
  line-height: 1.5;
  font-size: 1.25rem;
  margin: 2rem auto;
}


h1:not([custom]), 
h2:not([custom]), 
h3:not([custom]), 
h4:not([custom]), 
h5:not([custom]), 
h6:not([custom]) {
  margin: 2rem 0;
  border-left: solid var(--link-color) 4px;
  padding-left: 4px;
  width: fit-content;
}

strong {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--black);
  padding: 8px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

