---
import IconArrowUp from "@/assets/icons/IconArrowUp.svg";
---
<button
  id="go-to-top-btn"
  class="go-to-top-btn"
  aria-label="Go to top"
  onclick="window.scrollToTop()"
>
  <IconArrowUp class="inline-block" />
</button>

<style>
  .go-to-top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--yellow);
    color: var(--black);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 1px 0.15rem var(--black));
    cursor: pointer;
    z-index: var(--z-index-5);
    font-size: 1.5rem;
    transition: opacity var(--transition-speed-fast);
  }

  .go-to-top-btn.active {
    opacity: 1;
  }

  @media screen and (min-width: 1200px) {
    .go-to-top-btn {
      bottom: 6rem;
      right: 20dvw;
    }
  }

  @media screen and (min-width: 1600px) {
    .go-to-top-btn {
      right: 25dvw;
    }
  }

  @media screen and (min-width: 1900px) {
    .go-to-top-btn {
      right: 32dvw;
    }
  }

  @media screen and (min-width: 2200px) {
    .go-to-top-btn {
      right: 35dvw;
    }
  }
</style>

<script is:inline>
  let show = false;
  const handleScroll = () => {
    show = window.scrollY > 100;
    document.getElementById("go-to-top-btn")?.classList.toggle("active", show);
  };
  window.addEventListener("scroll", handleScroll);
  handleScroll();
</script>


