---
import Hr from "./Hr.astro";
import MobileNav from "./MobileNav.astro";
import DesktopNav from "./DesktopNav.astro";
import { getLanguageFromPath } from "../utils/getLanguageFromPath";
import { Languages } from "../types";

const { pathname } = Astro.url;

// Remove trailing slash from current pathname if exists
const currentPath =
  pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

// Detect current language
const currentLang = getLanguageFromPath(Astro.url.pathname);
const isSpanish = currentLang === Languages.Spanish;
---

<style>
  header {
    align-items: center;
    background: var(--background);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    max-width: 48rem;
    z-index: 1000;

    #nav-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .isotype {
      display: inline-block;
      border: none;
      color: var(--accent);
      font-size: var(--font-size-2);
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 768px) {
    header {
      height: 80px;

      .isotype {
        font-size: var(--font-size-1);
      }
    }

    #nav-container {
      justify-content: space-between;
    }
  }
</style>

<header>
  <div id="nav-container">
    <a class="isotype" href={isSpanish ? "/es" : "/"}>ulisesantana.dev</a>
    <DesktopNav locale={currentLang} currentUrl={currentPath} />
    <MobileNav locale={currentLang} currentUrl={currentPath} />
  </div>
</header>
<Hr />
