---
import Hr from "./Hr.astro";
import MobileNav from "./MobileNav.astro";
import DesktopNav from "./DesktopNav.astro";

const { pathname } = Astro.url;

// Remove trailing slash from current pathname if exists
const currentPath =
  pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

// Detect current language
const currentLang = currentPath.startsWith("/es") ? "es" : "en";
---

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  #skip-to-content {
    position: absolute;
    top: -100%;
    left: 16px;
    z-index: 50;
    background-color: var(--background);
    padding: 0.5rem 1rem;
    color: var(--accent);
    backdrop-filter: blur(10px);
    transition: top 0.3s ease-in-out;
  }

  #skip-to-content:focus {
    top: 4px;
  }
</style>

<header>
  <a
    id="skip-to-content"
    href="#main-content"
    class="absolute -top-full left-16 z-50 bg-background px-3 py-2 text-accent backdrop-blur-lg transition-all focus:top-4"
  >
    Skip to content
  </a>
  <div
    id="nav-container"
    class="mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row"
  >
    <div
      id="top-nav-wrap"
      class="relative flex w-full items-baseline justify-between bg-background p-4 sm:items-center sm:py-6"
    >
      <a class="isotype" href={currentLang === "es" ? "/es" : "/"}
        >ulisesantana.dev</a
      >
      <DesktopNav locale={currentLang} currentUrl={currentPath} />
      <MobileNav locale={currentLang} currentUrl={currentPath} />
    </div>
  </div>
  <Hr />
</header>
