---
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";
import IconRss from "@/assets/icons/IconRss.svg";
import { getLanguageFromPath } from "@/utils/getLanguageFromPath";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
const locale = getLanguageFromPath(Astro.url.pathname);
const rssHref = locale === "es" ? "/es/rss.xml" : "/rss.xml";
---

<div class:list={["flex-wrap justify-center gap-1", { flex: centered }]}>
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="p-2 hover:rotate-6 sm:p-1"
        title={social.linkTitle}
      >
        <social.icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
  <LinkButton
    target="_blank"
    href={rssHref}
    class="inline-block"
    aria-label="rss feed"
    title="RSS Feed"
  >
    <IconRss
      class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110"
    />
    <span class="sr-only">RSS Feed</span>
  </LinkButton>
</div>
