/* GLOBAL CSS */
:root {
  --border-radius: 8px;
  --transition-speed-fast: 0.3s;
  --transition-speed-regular: 0.6s;
  --z-index-0: 100;
  --z-index-1: 200;
  --z-index-2: 300;
  --z-index-3: 400;
  --z-index-4: 500;
  --z-index-5: 600;
  --z-index-6: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-1);
  margin: 0;
  padding: 16px;
  font-size: var(--font-size-1);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  width: 100% !important;
  z-index: var(--z-index-0);
}

body, body * {
  transition-property: background;
  transition-duration: var(--transition-speed-regular);
  transition-timing-function: ease-in-out;
}

main {
  margin: 0 auto;
  max-width: 80ch !important;
  width: 100% !important;
}

figure {
  margin: 1rem auto;
}

figcaption:has(+ pre) {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: 4px 8px;
}

pre {
  border-radius: var(--border-radius);
}

figure pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input,
textarea,
select,
button {
  font-family: var(--font-family-1);
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: none;
}

a:visited {
  color: var(--link-visited-color);
}

a svg {
  color: var(--icon-color);
}

pre[class*="language-"] {
  padding: 1.5rem;
  margin: 2rem 0;
  overflow: auto;
}

table {
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
  line-height: 1.6;
}

table tr {
  background-color: var(--bg-color);
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: var(--inactive-field-color);
}

table th {
  font-weight: 500;
}

table td,
table th {
  border: 1px solid #dfe2e5;
  padding: .4rem 1rem;
}

p a,
span a,
figcaption a,
article li a {
  border-bottom: solid 4px var(--accent-color);
  color: var(--accent-color);
  font-weight: 700;
  transition: all ease-in-out var(--transition-speed-fast);
}

a.anchor.before {
  border-bottom: none;
}

a.anchor.before svg {
  color: var(--text-color);
  fill: var(--text-color);
  margin-bottom: 2px;
  margin-right: 8px;
}

.table-of-contents a {
  border: none;
}

.table-of-contents ol,
ul {
  margin-bottom: 0;
  margin-top: 0;
}

.table-of-contents li {
  padding: 0 !important;
  margin: 0 !important;
}

img, object {
  border-radius: var(--border-radius);
  max-width: 100%;
}

tldr-section p a, 
tldr-section p a:visited {
  border-color: var(--accent-alt-color);
  color: var(--accent-alt-color) !important;
}

img-caption a, 
img-caption a:visited {
  border-bottom: solid 4px var(--accent-color);
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
  font-weight: bold;
}